<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myenglishschool" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
  </head>
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,greek-ext' rel='stylesheet' type='text/css'>

  <body>

  
	<div class="container">
<div class="span3 offset9">
	<div class="fb">

<a href="https://www.facebook.com/myenglishschool.gr"target="_blank"><%= image_tag("facebook_badge.png", :alt => "rss feed",:width => 180, :height => 60) %></a>
</div>

</div>
	<div class="container">
		<div class="content">
	        <div class="row">
			           <div class="span3">
				<div class="logo">
					<a href="/"><%= image_tag("myenglishschoollogo.jpg", :alt => "rss feed",:width => 400, :height => 120) %></a>



					</div>
				</div>
	           <div class="span9">
	    <div class="navbar">
	      <div class="navbar-inner">
	          <div class="container">
			      <ul class="nav">
			        <li><a href="#">Αρχική</a></li>
			        <li><a href="#">Blog</a></li>
			        <li><a href="#">Το σχολείο μας</a></li>
			        <li><a href="#">Τάξεις</a></li>
			        <li><a href="#">Επικοινωνία</a></li>
						<ul class="pull-right">
							<ul class="nav">						
						    <li><a href="#"style="color:#fff">Είσοδος στην εφαρμογή μας!</a></li>
 									</ul>
						           </ul>
			        
					
			      </ul>
			    </div>
	        </div>
	    </div>
		    </div>
        </div>
    </div>
	
	
	
	
	
	
	
	
    <div class="container">
      <div class="content">
        <div class="row">
	        <div class="span3">
	
					<%= image_tag("mes.png", :alt => "rss feed",:width => 320, :height => 800) %>
				
            </div><!--/span-->
           <div class="span9">
	
			<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
			  <div class="carousel-inner">
			    <div class="item active"><!-- class of active since it's the first item -->
<%= image_tag 'car1.jpg' %>
			      <div class="carousel-caption">
			        <p>Caption text here</p>
			      </div>
			    </div>
			    <div class="item">
<%= image_tag 'car2.jpg' %>
			      <div class="carousel-caption">
			        <p>Caption text here</p>
			      </div>
			    </div>
			    <div class="item">
<%= image_tag 'car3.jpg' %>
			      <div class="carousel-caption">
			        <p>Caption text here</p>
			      </div>
			    </div>
			    
			  </div><!-- /.carousel-inner -->
			  <!--  Next and Previous controls below
			        href values must reference the id for this carousel -->
			    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
			</div><!-- /.carousel -->
	
	
	
	
	
	

	
	
	
              <%= yield %>
            </div>

        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
